<!DOCTYPE html>
<html>
<head>
  <title>Band Central</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <link rel="stylesheet" href="/styles.css">
</head>
<body>

  <a href="/" class="top-left">Home</a>

  <div class="container">
    <%= yield %>
  </div>

  <a href="/reset" class="bottom-left">Reset everything</a>

</body>
</html>
