<h1 class="page-header">My Matches</h1>

<h3>Your level of skill: <%= @user.print_programmer_rating %></h3>
<h3>Your preference for partner skill: <%= @user.print_pref_match %></h3>

<h3>Here are your current matches:<h3>
