<h1 class="page-header">Here are your current matches:</h1>


<!-- <h3>Your preference for partner skill: <%= @user.print_pref_match %></h3> -->


<% if @users.length().>(1) %>
  <% @users.each() do |user| %>
    <% if @user.preferred_match(user).==(3) %>
      <a href="/users/display/<%= user.id() %>"><%= user.first_name() %> <%= user.last_name() %></a>
      <br>
    <% end %>
    <% end %>
    <% else %>
    <h3>There are no matches.</h3>
  <% end %>
